<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ontouchmove="event.preventDefault();"><html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Ford Smart Device HMI</title>
		<!--Styles-->
		<link rel="stylesheet" type="text/css" href="css/buttonControls.css" />
        <link rel="stylesheet" type="text/css" href="css/general.css" />
        <link rel="stylesheet" type="text/css" href="css/navigation.css" />
		<link rel="stylesheet" type="text/css" href="css/phone.css" />
        <link rel="stylesheet" type="text/css" href="css/info.css" />
        <link rel="stylesheet" type="text/css" href="css/media.css" />
        <link rel="stylesheet" type="text/css" href="css/sdl.css" />
		 
		<!--Libs-->

		<script type="text/javascript" src="lib/handlebars-1.0.0.beta.6.js"></script>

		<!-- RELEASE's min versions -->
		
		<script type="text/javascript" src="lib/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="lib/ember-1.0.pre.min.js"></script>
        <script type="text/javascript" src="lib/iscroll-lite.js"></script>
	
		
	</head>
	<body ontouchmove="event.preventDefault();">


        <script type="text/javascript" src="app/Flags.js"></script>

        <!-- Framework -->
		<script type="text/javascript" src="ffw/Framework.js"></script>
		<script type="text/javascript" src="ffw/WebSocket.js"></script>
		<script type="text/javascript" src="ffw/RPCObserver.js"></script>	
		<script type="text/javascript" src="ffw/RPCClient.js"></script>	
		<script type="text/javascript" src="ffw/ButtonsRPC.js"></script>
		<script type="text/javascript" src="ffw/UIRPC.js"></script>
		<script type="text/javascript" src="ffw/NavigationRPC.js"></script>
		<script type="text/javascript" src="ffw/TTSRPC.js"></script>
		<script type="text/javascript" src="ffw/VRRPC.js"></script>
        <script type="text/javascript" src="ffw/VehicleInfoRPC.js"></script>
		<script type="text/javascript" src="ffw/BasicCommunicationRPC.js"></script>

		<!-- APP -->
		<script type="text/javascript" src="app/SDLApp.js"></script>
		<!-- locales -->
		<script type="text/javascript" src="locale/eng.js"></script>
		<script type="text/javascript" src="locale/locale.js"></script>
		<script type="text/javascript" src="app/view/WarningView.js"></script>
        
		<script type="text/x-handlebars">
			 {{view SDL.warningView}}
		 </script>
		
		<!-- UI controlls -->		
		<script type="text/javascript" src="app/controlls/Button.js"></script>
		<script type="text/javascript" src="app/controlls/Label.js"></script>
		<script type="text/javascript" src="app/controlls/ScrollBar.js"></script>
		<script type="text/javascript" src="app/controlls/List.js"></script>
        <script type="text/javascript" src="app/controlls/Indicator.js"></script>
        <script type="text/javascript" src="app/controlls/QWERTYLayout.js"></script>
        <script type="text/javascript" src="app/controlls/QWERTZLayout.js"></script>
        <script type="text/javascript" src="app/controlls/AZERTYLayout.js"></script>
        <script type="text/javascript" src="app/controlls/MenuList.js"></script>
        <script type="text/javascript" src="app/controlls/ScrollableText.js"></script>

		<!-- utils -->
        <script type="text/javascript" src="app/util/Audio.js"></script>
        <script type="text/javascript" src="app/util/StreamAudio.js"></script>

		<!-- Models -->

       	<script type="text/javascript" src="app/model/media/CDModel.js"></script>

		<script type="text/javascript" src="app/model/PhoneModel.js"></script>

		<!-- SDL models -->
        <script type="text/javascript" src="app/model/sdl/VehicleInfoModel.js"></script>
		<script type="text/javascript" src="app/model/sdl/AppModel.js"></script>
        <script type="text/javascript" src="app/model/sdl/NonMediaModel.js"></script>
        <script type="text/javascript" src="app/model/sdl/MediaModel.js"></script>
        <script type="text/javascript" src="app/model/sdl/Model.js"></script>
        <!-- SDL models END -->

		<!-- Controllers -->
        <!--script type="text/javascript" src="app/controller/AppController.js"></script-->
		<script type="text/javascript" src="app/controller/MediaController.js"></script>
		<script type="text/javascript" src="app/controller/PhoneController.js"></script>
        <script type="text/javascript" src="app/controller/InfoController.js"></script>
        
        <script type="text/javascript" src="app/controller/sdl/Controller.js"></script>
        <script type="text/javascript" src="app/controller/sdl/RPCController.js"></script>
        <script type="text/javascript" src="app/controller/sdl/AppController.js"></script>  
        <script type="text/javascript" src="app/controller/sdl/NonMediaController.js"></script>  
        <script type="text/javascript" src="app/controller/sdl/MediaController.js"></script>  
        
        <!-- Mixins -->
        <script type="text/javascript" src="app/mixins/PresetEvents.js"></script>
        <script type="text/javascript" src="app/mixins/PresetEventCustom.js"></script>

		<!-- Views -->        

		<!-- phone views -->
        <script type="text/javascript" src="app/view/phone/dialpadView.js"></script>

        <!-- media views -->
        <script type="text/javascript" src="app/view/media/sdl/controllsView.js"></script>
		<script type="text/javascript" src="app/view/media/common/LeftMenuView.js"></script>
        <script type="text/javascript" src="app/view/media/playerView.js"></script>
        <script type="text/javascript" src="app/view/media/sdlmediaView.js"></script>

		<!-- info views -->
        <script type="text/javascript" src="app/view/info/servicesView.js"></script>
        <script type="text/javascript" src="app/view/info/travelLinkView.js"></script>
        <script type="text/javascript" src="app/view/info/calendarView.js"></script>
        <script type="text/javascript" src="app/view/info/appsView.js"></script>
        <script type="text/javascript" src="app/view/info/devicelistView.js"></script>
        <script type="text/javascript" src="app/view/info/nonMediaView.js"></script>
        
        <script type="text/javascript" src="app/view/homeView.js"></script>
        <script type="text/javascript" src="app/view/mediaView.js"></script>
        <script type="text/javascript" src="app/view/infoView.js"></script>
        <script type="text/javascript" src="app/view/climateView.js"></script>
        <script type="text/javascript" src="app/view/phoneView.js"></script>
        <script type="text/javascript" src="app/view/navigationView.js"></script>
        <script type="text/javascript" src="app/view/settingsView.js"></script>
        <script type="text/javascript" src="app/view/navigationApp/baseNavigationView.js"></script>
        <script type="text/javascript" src="app/view/navigationAppView.js"></script>

		<!-- home views -->
		<script type="text/javascript" src="app/view/home/controlButtons.js"></script>
		
		<script type="text/javascript" src="app/view/home/topControls.js"></script>
        <script type="text/javascript" src="app/view/home/bottomControls.js"></script>
        <script type="text/javascript" src="app/view/home/statusMediaView.js"></script>
		<script type="text/javascript" src="app/view/home/statusPhoneView.js"></script>
		<script type="text/javascript" src="app/view/home/statusInfoView.js"></script>
		<script type="text/javascript" src="app/view/home/statusNavigationView.js"></script>	
		<script type="text/javascript" src="app/view/home/statusClimateView.js"></script>		
		<!-- SDL views -->
		<script type="text/javascript" src="app/view/sdl/shared/AbstractView.js"></script>
		<script type="text/javascript" src="app/view/sdl/shared/interactionChoicesView.js"></script>
        <script type="text/javascript" src="app/view/sdl/shared/sliderView.js"></script>
        <script type="text/javascript" src="app/view/sdl/shared/optionsView.js"></script>
        <script type="text/javascript" src="app/view/sdl/shared/scrollableMessage.js"></script>
        <script type="text/javascript" src="app/view/sdl/shared/turnByTurnView.js"></script>
        <script type="text/javascript" src="app/view/sdl/shared/tbtTurnList.js"></script>
        <script type="text/javascript" src="app/view/sdl/shared/keyboard.js"></script>
        <script type="text/javascript" src="app/view/sdl/TTSPopUp.js"></script>
        <script type="text/javascript" src="app/view/sdl/AlertPopUp.js"></script>
        <script type="text/javascript" src="app/view/sdl/AudioPassThruPopUp.js"></script>
        <script type="text/javascript" src="app/view/sdl/VRPopUp.js"></script>
        <script type="text/javascript" src="app/view/sdl/VehicleInfoView.js"></script>
        <script type="text/javascript" src="app/view/sdl/VRHelpListView.js"></script>
        <script type="text/javascript" src="app/view/sdl/tbtClientStateView.js"></script>
        <script type="text/javascript" src="app/view/sdl/driverDistraction.js"></script>
        <script type="text/javascript" src="app/view/sdl/ExitAppView.js"></script>
        
        
				
		<script type="text/javascript" src="app/StateManager.js"></script>
				
        <!-- STATE MACHINE -->
        <script type="text/javascript" src="app/AppViews.js"></script>
		

        <!-- Big Images Preloader block -->
        <div id="preloader">
        </div>
        

	</body>
</html>